@import url('https://fonts.googleapis.com/css?family=Orbitron');

html{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}

body{
background-image: url("pattern.png");
font-family:helvetica,arial, sans-serif;
}

.main{
background:#fff;
margin:100px auto;
width:400px;
height: 175px;
padding:20px;
position: relative;
}

.clocktext{
	width:150px;
	background:#e66357;
	color:white;
	font-weight:bold;
	text-align: center;
	font-size:32px;
	position: absolute;
	left:35%;
	top:-15px;
	border-radius: 2px;
}

.clock{
	padding-top:65px;
	width:100%;
	height: 100%;
	text-align: center;
	font-size:48px;
	font-family: 'Orbitron', sans-serif;
	margin:auto 0;
}

#date{
	width:100%;
	height:30px;
	background:#e66357;
	padding-top: 10px;
	padding-bottom:10px;
	margin: auto 0;
	position: absolute;
	bottom:0px;
	left:0px;
	text-align: center;
	color:#fff;
	font-size:24px;
	transition: height 1s;
	cursor: pointer;

}

@media (max-width:728px) {
	html,body{
		margin:auto 0;
		padding:0px;
	}
	.main{
		position: absolute;
		left:0px;
		top:100px;
		width:100%;
		margin: 0;
		text-align: center;
		padding:0px;
	}

	.clocktext{
		left:0px;
	}

}